In [40]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler
df = pd.read_csv("energydata_complete.csv", delimiter=",")
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [42]:
y = df["T6"]
x = df[["T2"]]

In [43]:
x_train, x_test, y_train, y_test = train_test_split(x , y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [44]:
y_pred = model.predict(x_test)
mse = mean_squared_error(y_test, y_pred, squared = False)
print(f"Root Mean Squared Error: {rmse:.3f}")

Root Mean Squared Error: 3.633

In [46]:
x = df.drop(columns=["date","lights","Appliances"])
y = df["Appliances"]

In [47]:
x_train, x_test, y_train, y_test = train_test_split(x , y, test_size=0.3, random_state=42)
scaler = MinMaxScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [48]:
model = LinearRegression()
model.fit(x_train_scaled, y_train)
y_scaled_pred = model.predict(x_train_scaled)

In [51]:
mae_train = mean_absolute_error(y_train, y_scaled_pred)
print(f"Mean Absolute Error for the training set: {mae_train:.3f}")

Mean Absolute Error for the training set: 53.740

In [52]:
rmse_train = mean_squared_error(y_train, y_train_pred, squared=False)
print(f"Root Mean Squared Error for the training set: {rmse_train:.3f}")

Root Mean Squared Error for the training set: 95.216

In [53]:
y_scaled_test_pred = model.predict(x_test_scaled)
mae_test = mean_absolute_error(y_test, y_scaled_test_pred)
print(f"Mean Absolute Error for the test data: {mae_test:.3f}")

Mean Absolute Error for the test data: 53.639

In [55]:
rmse_test = mean_squared_error(y_test, y_scaled_test_pred, squared=False)
print(f"Root Mean Squared Error (Test Set): {rmse_test:.3f}")

Root Mean Squared Error (Test Set): 93.637

In [59]:
ridge_model = Ridge()
ridge_model.fit(x_train_scaled, y_train)
y_test_pred_ridge = ridge_model.predict(x_test_scaled)
rmse_test_ridge = mean_squared_error(y_test, y_test_pred_ridge, squared=False)
print(f"Root Mean Squared Error for the test(Ridge) set: {rmse_test_ridge:.3f}")

Root Mean Squared Error for the test(Ridge) set: 93.709

In [61]:
lasso_model = Lasso()
lasso_model.fit(x_train_scaled, y_train)
feature_weights = lasso_model.coef_
non_zero_features = sum(feature_weights != 0)
print(f"Number of features with non-zero feature weights: {non_zero_features}")

Number of features with non-zero feature weights: 4

In [62]:
y_test_pred_lasso = lasso_model.predict(x_test_scaled)
rmse_test_lasso = mean_squared_error(y_test, y_test_pred_lasso, squared=False)
print(f"Root Mean Squared Error for the test(Lasso) set: {rmse_test_lasso:.3f}")

Root Mean Squared Error for the test(Lasso) set: 99.424